.hyperstars,
.hyperstars-slider {
  display: inline-block;
  position: relative;
  line-height: 1em;
  cursor: default;
}

.hyperstars-slider>div {
  overflow: hidden;
}

.hyperstars-selected,
.hyperstars-hover {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
}

button.hyperstars-reset {
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
  padding-inline: 0;
  padding-block: 0;
  height: 0.9em;
  margin: 0.05em;
  overflow: hidden;
  line-height: 1em;
  position: relative;
  outline: none;
  float: left;
  justify-content: normal;
  visibility: hidden;
  cursor: pointer;
}

.hyperstars:hover>button.hyperstars-reset {
  visibility: visible;
}

button.hyperstars-reset>span {
  display: inline;
  font-size: 0.4em;
  line-height: 1em;
  float: left;
}

.hyperstars-empty {
  color: rgb(212, 212, 212);
}

.hyperstars-selected {
  color: rgb(217, 53, 38);
}

.hyperstars-hover {
  color: rgb(242, 223, 13);
}

.hyperstars>input[type=range] {
  display: none;
}