html {
  font-size: 50px;
}

.hyperstars,
.hyperstars-slider {
  display: inline-block;
  position: relative;
  line-height: 1em;
  cursor: default;
}

.hyperstars-slider>div {
  overflow: hidden;
}

.hyperstars-selected,
.hyperstars-hover {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
}

.hyperstars-empty {
  color: rgb(212, 212, 212);
}

.hyperstars-selected {
  color: rgb(217, 53, 38);
}

.hyperstars-hover {
  color: rgb(242, 223, 13);
}

.hyperstars>input[type=range] {
  display: none;
}